body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f8f9fa; /* Optional: Light background */
}

.card {
  width: 500px; /* Adjust the width as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow */
  border-radius: 8px; /* Optional: Rounded corners */
}

.buttons {
  gap: 5px;
}

.input {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid orange;
  outline: none;
  padding-left: 10px;
}

